description = "Displays list of subcategories"
==
<section class="course-area padding-top-120px padding-bottom-120px">
    <div class="course-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="filter-bar d-flex justify-content-between align-items-center">
                        <ul class="filter-bar-tab nav nav-tabs align-items-center" id="myTab" role="tablist">
                            <li class="nav-item pr-4">
                                <a class="nav-link active icon-element" id="grid-view-tab" data-toggle="tab"
                                    href="#" role="tab" aria-controls="grid-view"
                                    aria-selected="true">
                                    <span data-toggle="tooltip" data-placement="top" title="Grid View">
                                        <i class="la la-th-large"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">Showing {{ record.courses|length}} Courses</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="course-content-wrapper mt-4">
                <div class="row">
                    {% for course in record.courses %}
                    <div class="col-lg-12">
                        <div class="card-item card-list-layout">
                            <div class="card-image">
                                <a href="/courses/{{ course.category.slug}}/{{ course.slug}}" class="card__img">
                                    <img src="{% if course.banner %}{{ course.banner.path() }} {% else %} https://via.placeholder.com/380x200{% endif%}"
                                        alt="">
                                </a>
                                <div class="card-badge">
                                    <span class="badge-label">Study From Home</span>
                                </div>
                            </div>
                            <div class="card-content">
                                {% if record.complete_at_home == '1' %}
                                <p class="card__label">
                                    <span class="card__label-text">Study from home</span>
                                </p>
                                {% endif %}
                                <h3 class="card__title">
                                    <a href="/courses/{{ course.category.slug}}/{{ course.slug}}">{{ course.title }}</a>
                                </h3>
                                <div class="card-action mb-3">
                                    <ul class="card-duration d-flex justify-content-between align-items-center pt-3">
                                        <li>
                                            <span class="course__meta">
                                                Valid For: {{ course.valid_for }}
                                            </span>
                                        </li>
                                        <li>
                                            <span class="course__meta">
                                                Duration: {{ course.duration }}
                                            </span>
                                        </li>
                                        <li>
                                            <span class="course__meta">
                                                Accreditation: {{ course.accreditation }}
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-price-wrap d-flex justify-content-between align-items-center">
                                    <a href="/courses/{{ course.category.slug}}/{{ course.slug}}" class="text-btn"><i class="la la-arrow-right pt-2"></i>
                                        View Course</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>