description = "Main menu navigation"
==
<ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/about">About</a>
        <ul class="dropdown-menu-item">
            <li><a href="/apprenticeships">Apprenticeships</a></li>
            <li><a href="http://investinskillspeople.com/csp-pre-employment-courses" target="_blank">Pre-Employment Courses</a></li>
            <li><a href="/documents">Documents</a></li>
            <li><a href="/safeguarding">Safeguarding</a></li>
            <li><a href="/recruitment">Recruitment</a></li>
        </ul>
    </li>
    <li>
        <a href="/courses">Courses</a>
        <ul class="dropdown-menu-item">
            <li><a href="/courses/cpcs-plant-courses">CPCS / Plant</a></li>
            <li><a href="/courses/working-height">Working at Height</a></li>
            <li><a href="/courses/site-safety-plus">SMSTS, SSSTS etc</a></li>
            <li><a href="/courses/workplace-safety">Workplace Safety</a></li>
            <li><a href="/courses/first-aid-courses">First Aid</a></li>
            <li><a href="/courses/npors">NPORS</a></li>
            <li><a href="/courses/cpcs-cranes-lifting">CPCS Cranes & Lifting</a></li>
            <li><a href="/courses/electrical-courses">Electrical</a></li>
        </ul>
    </li>
    <li>
        <a href="/nvqs">NVQs</a>
        <ul class="dropdown-menu-item">
            <li><a href="/nvqs/blue-cpcs-cards">CPCS Blue Cards</a></li>
            <li><a href="/nvqs/blue-cscs-cards">CSCS Blue Cards</a></li>
            <li><a href="/nvqs/managers-cards">CSCS Black Cards</a></li>
            <li><a href="/nvqs/supervisors-cards">CSCS Gold Supervisor Cards</a></li>
            <li><a href="/nvqs/gold-advanced-cards">CSCS Gold Advanced Cards</a></li>
            <li><a href="/nvqs/cranes-lifting-operations-cards">Crane & Lifting Cards</a></li>
        </ul>
    </li>
    <li>
        <a href="/blog">Blog</a>
    </li>
    <li><a href="/contact">contact</a></li>
</ul><!-- end ul -->