description = "Home partners section"
==
<section class="clientlogo-area overflow-hidden padding-top-120px padding-bottom-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="client-logo-heading">
                    <div class="section-heading">
                        <h5 class="section__meta">our partners</h5>
                        <h2 class="section__title">Trusted by companies of all sizes throughout the UK</h2>
                        <p class="section__desc pt-3">
                            Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo. In libero urna, venenatis sit amet ornare non, suscipit nec risus. Sed consequat justo non mauris pretium at tempor justo sodales
                        </p>
                    </div>
                    <div class="btn-box">
                        <a href="home-2.html#" class="theme-btn">learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="client-logo-2">
                    <div class="row">
                        <div class="col-lg-4 column-td-half">
                            <div class="client-logo-item client-logo-item-2">
                                <a href="home-2.html#"><img src="{{ 'assets/images/sample-logo.png'|theme }}" alt="brand image"></a>
                            </div>
                        </div>
                         <div class="col-lg-4 column-td-half">
                             <div class="client-logo-item client-logo-item-2">
                                 <a href="home-2.html#"><img src="{{ 'assets/images/sample-logo.png'|theme }}" alt="brand image"></a>
                             </div>
                        </div>
                         <div class="col-lg-4 column-td-half">
                             <div class="client-logo-item client-logo-item-2">
                                 <a href="home-2.html#"><img src="{{ 'assets/images/sample-logo.png'|theme }}" alt="brand image"></a>
                             </div>
                        </div>
                         <div class="col-lg-4 column-td-half">
                             <div class="client-logo-item client-logo-item-2">
                                 <a href="home-2.html#"><img src="{{ 'assets/images/sample-logo.png'|theme }}" alt="brand image"></a>
                             </div>
                        </div>
                         <div class="col-lg-4 column-td-half">
                             <div class="client-logo-item client-logo-item-2">
                                 <a href="home-2.html#"><img src="{{ 'assets/images/sample-logo.png'|theme }}" alt="brand image"></a>
                             </div>
                        </div>
                         <div class="col-lg-4 column-td-half">
                             <div class="client-logo-item client-logo-item-2">
                                 <a href="home-2.html#"><img src="{{ 'assets/images/sample-logo.png'|theme }}" alt="brand image"></a>
                             </div>
                        </div>
                         <div class="col-lg-4 column-td-half">
                             <div class="client-logo-item client-logo-item-2">
                                 <a href="home-2.html#"><img src="{{ 'assets/images/sample-logo.png'|theme }}" alt="brand image"></a>
                             </div>
                        </div>
                         <div class="col-lg-4 column-td-half">
                             <div class="client-logo-item client-logo-item-2">
                                 <a href="home-2.html#"><img src="{{ 'assets/images/sample-logo.png'|theme }}" alt="brand image"></a>
                             </div>
                        </div>
                         <div class="col-lg-4 column-td-half">
                             <div class="client-logo-item client-logo-item-2">
                                 <a href="home-2.html#"><img src="{{ 'assets/images/sample-logo.png'|theme }}" alt="brand image"></a>
                             </div>
                        </div>
                        <div class="col-lg-4 column-td-half">
                             <div class="client-logo-item client-logo-item-2">
                                 <a href="home-2.html#"><img src="{{ 'assets/images/sample-logo.png'|theme }}" alt="brand image"></a>
                             </div>
                        </div>
                         <div class="col-lg-4 column-td-half">
                             <div class="client-logo-item client-logo-item-2">
                                 <a href="home-2.html#"><img src="{{ 'assets/images/sample-logo.png'|theme }}" alt="brand image"></a>
                             </div>
                        </div>
                         <div class="col-lg-4 column-td-half">
                             <div class="client-logo-item client-logo-item-2">
                                 <a href="home-2.html#"><img src="{{ 'assets/images/sample-logo.png'|theme }}" alt="brand image"></a>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box mt-4">
                    <p>Find out how <a href="home-2.html#" class="primary-color-2">we can help your </a> company.</p>
                </div>
            </div>
        </div>
    </div>
</section>