description = "Home Page Slider"
==
<section class="slider-area">
    <div class="homepage-slide1">
        <div class="single-slide-item slide-bg1">
            <div class="slide-item-table">
                <div class="slide-item-tablecell">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h2 class="section__title text-white">Are You Working<br>From Home?</h2>
                                    <p class="section__desc">Emply dummy text of the printing and typesetting industry</p>
                                </div>
                                <div class="btn-box d-flex align-items-center mt-5">
                                    <a href="admission.html" class="theme-btn theme-btn-hover-light">let's join now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide-item slide-bg2">
            <div class="slide-item-table">
                <div class="slide-item-tablecell">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h2 class="section__title text-white">Does Your Training<br>Fund Need a boost?</h2>
                                    <p class="section__desc">Emply dummy text of the printing and typesetting industry</p>
                                </div>
                                <div class="btn-box d-flex align-items-center mt-5">
                                    <a href="admission.html" class="theme-btn theme-btn-hover-light">let's join now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>