description = "Home testimonials slider"
==
<section class="testimonial-area section-bg padding-top-120px padding-bottom-110px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading text-center">
                    <h5 class="section__meta">testimonials</h5>
                    <h2 class="section__title">See What Our Clients Say</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial-slider">
        <div class="container-fluid">
            <div class="row margin-top-28px">
                <div class="col-lg-12">
                    <div class="testimonial-carousel">
                        <div class="testimonial-item">
                            <div class="testimonial-header">
                                <img src="{{ 'assets/images/testi-img.jpg'|theme }}" alt="small-avatar">
                                <div class="testimonial__name">
                                    <h3 class="testimonial__name-title">Kevin Martin</h3>
                                    <span class="testimonial__name-meta">student</span>
                                    <ul class="review-stars d-inline-block">
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star-o"></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="testimonial__desc">
                                <p class="testimonial__desc-desc">
                                    I came across this site when I had no funds to pay for a college education.
                                    This site has literally been a lifesaver as I can
                                    now earn from freelance working using the skills I learned from here.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-header">
                                <img src="{{ 'assets/images/testi-img2.jpg'|theme }}" alt="small-avatar">
                                <div class="testimonial__name">
                                    <h3 class="testimonial__name-title">Jessica Brown</h3>
                                    <span class="testimonial__name-meta">student</span>
                                    <ul class="review-stars d-inline-block">
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star-o"></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="testimonial__desc">
                                <p class="testimonial__desc-desc">
                                    I came across this site when I had no funds to pay for a college education.
                                    This site has literally been a lifesaver as I can
                                    now earn from freelance working using the skills I learned from here.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-header">
                                <img src="{{ 'assets/images/testi-img3.jpg'|theme }}" alt="small-avatar">
                                <div class="testimonial__name">
                                    <h3 class="testimonial__name-title">Mike Hardson</h3>
                                    <span class="testimonial__name-meta">student</span>
                                    <ul class="review-stars d-inline-block">
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star-o"></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="testimonial__desc">
                                <p class="testimonial__desc-desc">
                                    I came across this site when I had no funds to pay for a college education.
                                    This site has literally been a lifesaver as I can
                                    now earn from freelance working using the skills I learned from here.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-header">
                                <img src="{{ 'assets/images/testi-img4.jpg'|theme }}" alt="small-avatar">
                                <div class="testimonial__name">
                                    <h3 class="testimonial__name-title">Bernice Pease</h3>
                                    <span class="testimonial__name-meta">student</span>
                                    <ul class="review-stars d-inline-block">
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star-o"></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="testimonial__desc">
                                <p class="testimonial__desc-desc">
                                    I came across this site when I had no funds to pay for a college education.
                                    This site has literally been a lifesaver as I can
                                    now earn from freelance working using the skills I learned from here.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-header">
                                <img src="{{ 'assets/images/testi-img.jpg'|theme }}" alt="small-avatar">
                                <div class="testimonial__name">
                                    <h3 class="testimonial__name-title">Daniel Ward</h3>
                                    <span class="testimonial__name-meta">student</span>
                                    <ul class="review-stars d-inline-block">
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star-o"></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="testimonial__desc">
                                <p class="testimonial__desc-desc">
                                    I came across this site when I had no funds to pay for a college education.
                                    This site has literally been a lifesaver as I can
                                    now earn from freelance working using the skills I learned from here.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-header">
                                <img src="{{ 'assets/images/testi-img5.jpg'|theme }}" alt="small-avatar">
                                <div class="testimonial__name">
                                    <h3 class="testimonial__name-title">Kevin Martin</h3>
                                    <span class="testimonial__name-meta">student</span>
                                    <ul class="review-stars d-inline-block">
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star-o"></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="testimonial__desc">
                                <p class="testimonial__desc-desc">
                                    I came across this site when I had no funds to pay for a college education.
                                    This site has literally been a lifesaver as I can
                                    now earn from freelance working using the skills I learned from here.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-header">
                                <img src="{{ 'assets/images/testi-img6.jpg'|theme }}" alt="small-avatar">
                                <div class="testimonial__name">
                                    <h3 class="testimonial__name-title">Jessica Brown</h3>
                                    <span class="testimonial__name-meta">student</span>
                                    <ul class="review-stars d-inline-block">
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star-o"></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="testimonial__desc">
                                <p class="testimonial__desc-desc">
                                    I came across this site when I had no funds to pay for a college education.
                                    This site has literally been a lifesaver as I can
                                    now earn from freelance working using the skills I learned from here.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-header">
                                <img src="{{ 'assets/images/testi-img2.jpg'|theme }}" alt="small-avatar">
                                <div class="testimonial__name">
                                    <h3 class="testimonial__name-title">Mike Hardson</h3>
                                    <span class="testimonial__name-meta">student</span>
                                    <ul class="review-stars d-inline-block">
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star-o"></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="testimonial__desc">
                                <p class="testimonial__desc-desc">
                                    I came across this site when I had no funds to pay for a college education.
                                    This site has literally been a lifesaver as I can
                                    now earn from freelance working using the skills I learned from here.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-header">
                                <img src="{{ 'assets/images/testi-img3.jpg'|theme }}" alt="small-avatar">
                                <div class="testimonial__name">
                                    <h3 class="testimonial__name-title">Bernice Pease</h3>
                                    <span class="testimonial__name-meta">student</span>
                                    <ul class="review-stars d-inline-block">
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star-o"></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="testimonial__desc">
                                <p class="testimonial__desc-desc">
                                    I came across this site when I had no funds to pay for a college education.
                                    This site has literally been a lifesaver as I can
                                    now earn from freelance working using the skills I learned from here.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-header">
                                <img src="{{ 'themes/construction-skills-people/assets/images/testi-img4.jpg'|theme }}" alt="small-avatar">
                                <div class="testimonial__name">
                                    <h3 class="testimonial__name-title">Daniel Ward</h3>
                                    <span class="testimonial__name-meta">student</span>
                                    <ul class="review-stars d-inline-block">
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star"></span></li>
                                        <li><span class="la la-star-o"></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="testimonial__desc">
                                <p class="testimonial__desc-desc">
                                    I came across this site when I had no funds to pay for a college education.
                                    This site has literally been a lifesaver as I can
                                    now earn from freelance working using the skills I learned from here.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>